<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" ng-click="showMobileNav = !showMobileNav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">{{'name' | translate }}</span>
    </div>
    <div class="collapse navbar-collapse" ng-class="{in: showMobileNav}">
        <ul class="navbar-nav nav">
            <li ng-repeat="route in routes" ng-class="{active: activeRoute(route)}">
                <a href="#{{ route.path }}">{{ 'navbar.'+route.name | translate }}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
           <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ng-repeat="lang in languages" ng-click="changeLang(lang.id)" ng-class="{active: isLang(lang.id)}"><a href>{{lang.name}}</a></li>
                </ul>
           </li>
        </ul>
    </div>
</nav>
